@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @await Html.PartialAsync("./Partial/_AddName")

    <div class="divider"></div>

    @await Html.PartialAsync("./Partial/_AddPreferences")

    <div class="divider"></div>

    @await Html.PartialAsync("./Partial/_ShowResult")
</div>
</div>


