<div class="section">
    <div class="row">
        <h5>1. Add People</h5>
    </div>
    <div class="row">
        <div id="add_new_name_chip_container" class="col m6 s12">
            &nbsp;
        </div>
        <div class="input-field col m4 s12 ">
            <input id="add_new_name_input" type="text" class="validate">
            <label for="add_new_name_input">Type New Name</label>
        </div>
        <div class="col m2 s12 center">
            <a id="add_new_name_button" class="waves-effect waves-light btn-large">Add New</a>
        </div>
    </div>
</div>
<script id="add_new_name_chip_template" type="x-tmpl-mustache">
    <div id="{{ name }}_chip" class="chip">
        {{ name }}
        <i class="material-icons">close</i>
    </div>
</script>