/*   <sticky footer>   */ 
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
/*   </sticky footer>   */

#add_new_name_chip_container .chip {
    margin-bottom: 0.2rem;
}

.inline-block {
    display: inline-block;
}

#reload_preferences_input_button {
    margin-left: 17px;
    margin-bottom: 17px;
}

.nav-wrapper-paddings {
        padding: 0 30px;
    }

/*@media screen and (min-width: 768px) {
    .nav-wrapper-paddings {
        padding: 0 30px;
    }
}*/